---
import fs from 'node:fs'

try {
	fs.accessSync('/tmp/count.txt')
} catch {
	fs.writeFileSync('/tmp/count.txt', '0')
}

const count = fs.readFileSync('/tmp/count.txt', 'utf-8')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script src="https://unpkg.com/htmx.org@1"></script>
	</head>
	<body>
		<h1><small>grow</small> npbgs</h1>
		<h2>"civitati faventes horti"</h2>

		<div>
			Count: <span id="count">{count}</span>
			<div>
				<button hx-post="/api/increment" hx-swap="none">+1</button>
				<button hx-post="/api/decrement" hx-swap="none">-1</button>
			</div>
		</div>
	</body>
</html>
